<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = {
            "id": <%= current_user.id %>,
            // "firstName": "<%= current_user.first_name %>"
            // "email": "<%= current_user.email %>"
            // has to match users reducer 
        };
    </script>
<% end %>

<script src="https://kit.fontawesome.com/8304861193.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">



<script type="text/javascript">
  window.splashImageURL = "<%= image_url('splash_image.jpg') %>";
</script>

<script type="text/javascript">
  window.logo = "<%= image_url('logo.png') %>";
</script>

<div id="root">Redux is not working</div>