<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = {
            "id": <%= current_user.id %>,
            // "firstName": "<%= current_user.first_name %>"
            // "email": "<%= current_user.email %>"
            // has to match users reducer 
        };
    </script>
<% end %>

<script src="https://kit.fontawesome.com/8304861193.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">



<script type="text/javascript">
  window.splashImageURL = "<%= image_url('splash_image.jpg') %>";
</script>

<script type="text/javascript">
  window.logo = "<%= image_url('logo.png') %>";
</script>

<script type="text/javascript">
  window.union_square = "<%= image_url('union_square.jpg') %>";
</script>

<script type="text/javascript">
  window.bronx = "<%= image_url('bronx.jpg') %>";
</script>

<script type="text/javascript">
  window.brooklyn = "<%= image_url('brooklyn.jpg') %>";
</script>

<script type="text/javascript">
  window.manhattan = "<%= image_url('manhattan.jpg') %>";
</script>

<script type="text/javascript">
  window.nyc = "<%= image_url('nyc.jpg') %>";
</script>

<script type="text/javascript">
  window.queens = "<%= image_url('queens.jpg') %>";
</script>

<script type="text/javascript">
  window.statenisland = "<%= image_url('statenisland.jpg') %>";
</script>

<script type="text/javascript">
  window.Supe1 = "<%= image_url('super_taste_buns.jpg') %>";
</script>

<script type="text/javascript">
  window.Supe2 = "<%= image_url('super_taste_dumplings.jpg') %>";
</script>

<script type="text/javascript">
  window.Supe3 = "<%= image_url('super_taste_soup.jpg') %>";
</script>

<script type="text/javascript">
  window.Supe4 = "<%= image_url('super_taste_logo.jpg') %>";
</script>

<div id="root">Redux is not working</div>

