<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = {
            "id": <%= current_user.id %>,
            "first_name": "<%= current_user.first_name %>"
            // added this and to navbar container to fix name showing up
            // "email": "<%= current_user.email %>"
            // has to match users reducer 
        };
    </script>
<% end %>

<script src="https://kit.fontawesome.com/8304861193.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">



<script type="text/javascript">
  window.splashImageURL = "<%= image_url('splash_image.jpg') %>";
</script>

<script type="text/javascript">
  window.logo = "<%= image_url('logo.png') %>";
</script>

<script type="text/javascript">
  window.map = "<%= image_url('map.png') %>";
</script>

<script type="text/javascript">
  window.bronx = "<%= image_url('bronx.jpg') %>";
</script>

<script type="text/javascript">
  window.brooklyn = "<%= image_url('brooklyn.jpg') %>";
</script>

<script type="text/javascript">
  window.manhattan = "<%= image_url('manhattan.jpg') %>";
</script>

<script type="text/javascript">
  window.nyc = "<%= image_url('nyc.jpg') %>";
</script>

<script type="text/javascript">
  window.queens = "<%= image_url('queens.jpg') %>";
</script>

<script type="text/javascript">
  window.statenisland = "<%= image_url('statenisland.jpg') %>";
</script>

<script type="text/javascript">
  window.border = "<%= image_url('border.jpg') %>";
</script>





<script type="text/javascript">
  window.Ho1 = "<%= image_url('hometown_rib.jpg') %>";
</script>

<script type="text/javascript">
  window.Ho2 = "<%= image_url('hometown_meat.jpg') %>";
</script>

<script type="text/javascript">
  window.Ho3 = "<%= image_url('hometown_platter.jpg') %>";
</script>

<script type="text/javascript">
  window.Ho4 = "<%= image_url('hometown_logo.jpg') %>";
</script>

<script type="text/javascript">
  window.Su1 = "<%= image_url('super_taste_buns.jpg') %>";
</script>

<script type="text/javascript">
  window.Su2 = "<%= image_url('super_taste_dumplings.jpg') %>";
</script>

<script type="text/javascript">
  window.Su3 = "<%= image_url('super_taste_soup.jpg') %>";
</script>

<script type="text/javascript">
  window.Su4 = "<%= image_url('super_taste_logo.jpg') %>";
</script>


<script type="text/javascript">
  window.Ta1 = "<%= image_url('tasty_dumpling_spread.jpg') %>";
</script>

<script type="text/javascript">
  window.Ta2 = "<%= image_url('tasty_dumpling_panfried.jpg') %>";
</script>

<script type="text/javascript">
  window.Ta3 = "<%= image_url('tasty_dumpling_buns.jpg') %>";
</script>

<script type="text/javascript">
  window.Ta4 = "<%= image_url('tasty_dumpling_logo.jpg') %>";
</script>


<script type="text/javascript">
  window.Ug1 = "<%= image_url('ugly_baby_fish.jpg') %>";
</script>

<script type="text/javascript">
  window.Ug2 = "<%= image_url('ugly_baby_spread.jpg') %>";
</script>

<script type="text/javascript">
  window.Ug3 = "<%= image_url('ugly_baby_prawns.jpg') %>";
</script>

<script type="text/javascript">
  window.Ug4 = "<%= image_url('ugly_baby_logo.jpg') %>";
</script>


<script type="text/javascript">
  window.La1 = "<%= image_url('la_morada_mole1.jpg') %>";
</script>

<script type="text/javascript">
  window.La2 = "<%= image_url('la_morada_mole2.jpg') %>";
</script>

<script type="text/javascript">
  window.La3 = "<%= image_url('la_morada_tacos.jpg') %>";
</script>

<script type="text/javascript">
  window.La4 = "<%= image_url('la_morada_logo.jpg') %>";
</script>


<script type="text/javascript">
  window.Ri1 = "<%= image_url('rincon_criollo_dining.jpg') %>";
</script>

<script type="text/javascript">
  window.Ri2 = "<%= image_url('rincon_criollo_food.jpg') %>";
</script>

<script type="text/javascript">
  window.Ri3 = "<%= image_url('rincon_criollo_paella.jpg') %>";
</script>

<script type="text/javascript">
  window.Ri4 = "<%= image_url('rincon_criollo_logo.jpg') %>";
</script>


<script type="text/javascript">
  window.Jo1 = "<%= image_url('joepats_pizza1.jpg') %>";
</script>
<script type="text/javascript">
  window.Jo2 = "<%= image_url('joepats_pizza2.jpg') %>";
</script>
<script type="text/javascript">
  window.Jo3 = "<%= image_url('joepats_pizza3.jpg') %>";
</script>
<script type="text/javascript">
  window.Jo4 = "<%= image_url('joepats_logo.jpg') %>";
</script>

<script type="text/javascript">
  window.To1 = "<%= image_url('totto_1.jpg') %>";
</script>
<script type="text/javascript">
  window.To2 = "<%= image_url('totto_2.jpg') %>";
</script>
<script type="text/javascript">
  window.To3 = "<%= image_url('totto_3.jpg') %>";
</script>
<script type="text/javascript">
  window.To4 = "<%= image_url('totto_logo.jpg') %>";
</script>

<script type="text/javascript">
  window.Mi1 = "<%= image_url('mis_tierras_1.jpg') %>";
</script>
<script type="text/javascript">
  window.Mi2 = "<%= image_url('mis_tierras_2.jpg') %>";
</script>
<script type="text/javascript">
  window.Mi3 = "<%= image_url('mis_tierras_3.jpg') %>";
</script>
<script type="text/javascript">
  window.Mi4 = "<%= image_url('mis_tierras_logo.jpg') %>";
</script>


<div id="root">Redux is not working</div>

