<!DOCTYPE html>
<html>
  <head>
    <title>Outdoor Restaurant Reservations | OutdoorTable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1XEPPZ4R2H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1XEPPZ4R2H');
    </script>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}"%>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <meta property="og:title" content="Outdoor Table" />
    <meta property='og:image' content="<%= image_url('screenshot.png') %>"/>
    <meta property="og:description"
       content="An OpenTable inspired site where users can search, reserve, review, and favorite restaurants."
    />
    <meta property="og:url"
       content="https://outdoortable.herokuapp.com/"
    />
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
